/* You can add global styles to this file, and also import other style files */

.width-200{
    width:200px
}

.padding-top{
    padding-top:20px
}

.custom-button{
    margin:10px
}

.hide{
    display:none
}